body{
background-color: aquamarine;
    background-image: url(ball.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-decoration-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
     
}